<div class="col-sm-12">
    <h4>Login</h4>
    
    <div *ngIf="failedMessage">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> {{failedMessage}}
      </div>
    </div>

<form #form="ngForm" (submit)="login(form.value)">      
      <div class="form-group">
         <label>Email</label>
        <input type="email" name="email" class="form-control" id="email" [(ngModel)]="form.email" #email="ngModel" required>
         <span class="error" *ngIf="email.touched && !email.valid">Email field is required</span>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" id="password" [(ngModel)]="form.password" #password="ngModel" required>
        <span class="error" *ngIf="password.touched && !password.valid">Password field is required</span>
      </div>
      <button type="submit" class="btn btn-default"  [disabled]="!form.valid">Submit</button>
    </form>
</div>