
		<ul>
			<li><a [routerLink]="['/']">First Component</a></li>
			<li><a [routerLink]="['/story']">List Story</a></li>
			<li><a [routerLink]="['/edit']">Second component</a></li>
			<li><a [routerLink]="['/add']">Add Story</a></li>
			<li><a [routerLink]="['/login']">Login</a></li>
			<li><a [routerLink]="['/']">Demo Link 2</a></li>
			<li><a [routerLink]="['/']">Demo Link 3</a></li>
			<li><a [routerLink]="['/']">Demo Link 4</a></li>

		</ul>
