@import "../../vendor/bootstrap/bootstrap/bootstrap.less";
@import "bootstrap-helpers";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,400italic,100italic,700,700italic&subset=latin,latin-ext);

@import "templates/loading";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333131;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
}

.sidebar{
	background: #f9f2f2;
    text-align: left;
    padding: 12px;
}

.sidebar ul{
	list-style-type: none;
    padding: 0;
}

.sidebar ul li{
	padding-top: 4px;
    border-bottom: 1px solid #fff;
    margin-top: 20px;
}

.sidebar ul li a{
	text-decoration: none;
	color: #8a4545;
}

.ng-invalid.ng-touched {
    border: 1px solid #d26a6a;
}

span.error {
    color: #9c4c4c;
}

.content {
  height: 100%;
}
