<div class="col-sm-12">
    <h4>Add Story</h4>
<form #form="ngForm" (submit)="logForm(form.value)">      
      <div class="form-group">
         <label>Author</label>
        <input type="text" name="author" class="form-control" id="author" [(ngModel)]="form.author" #author="ngModel" required>
         <span class="error" *ngIf="author.touched && !author.valid">Author field is required</span>
      </div>

      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" id="title" [(ngModel)]="form.title" #title="ngModel" required>
        <span class="error" *ngIf="title.touched && !title.valid">Title field is required</span>
      </div>
      <button type="submit" class="btn btn-default"  [disabled]="!form.valid">Submit</button>
    </form>
</div>