	<table class="table table-bordered table-hover">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Action</th>
		</tr>

		<tr let *ngFor = "let story of stories">
			<td>{{story.title}}</td>
			<td>{{story.author}}</td>
			<td>Edit and Delete</td>
		</tr>
	</table>
