<div class="container">
	<div class="row">
		<div class="well">
			<h3>Trending Stories</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 sidebar">
				<my-sidebar></my-sidebar>
		</div>

		<div class="col-sm-9 main-content">
			<section class="content">
				<router-outlet></router-outlet>
			</section>
		</div>
	</div>
</div>



